@font-face {
    font-family: 'streetbomber';
    src: url('streetbomber_personaluseonly-webfont.woff2') format('woff2'),
         url('streetbomber_personaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: 'Lucida Sans', Arial, sans-serif, system-ui;
    font-size: 16px;
    color: rgb(240, 240, 255);
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

h1 {
    font-family: 'streetbomber';
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
}

body {
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #080820;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 1rem;
    text-align: center;
}

header img {
    border-radius: 30px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(8, 8, 32, 0.95);
    position: sticky;
    top: 0px;
    padding: 1rem;
}

main {
    width: 100%;
    height: 100%;
    background-color: #080820;
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 9px;
    gap: 0.8rem;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 1.2rem;
    border-radius: 9px;
    border-top: 1px solid  rgba(240, 240, 255, 0.5);
    background-color: #0a0a22;
    box-shadow: 5px 5px 15px black;
}

.message-container div, p, fieldset {
    display: flex;
    align-items: center;
    min-width: 325px;
    justify-content: space-between;
    padding: 9px;
    border-radius: 9px;
}

.message-container p {
    text-wrap: pretty;
    hyphens: auto;
}

.messageHeader {
    background-color: #0e0e30;
    border-radius: 9px 9px 0px 0px;
}

.formButtonArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: rgb(240, 240, 255);
    padding: 9px;
    border-radius: 15px;
    text-decoration: underline;
}

a:focus, a:hover {
    outline: 1px solid rgb(186, 186, 236);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 3px 18px;
    background-color: black;
    border: 2px inset rgba(237, 254, 254, 0.3);
    border-radius: 0px 9px 0px 0px;
    color: rgb(240, 240, 255);
    font-size: 1rem;
}

button:hover, button:focus {
    cursor: pointer;
    outline: 2px solid rgb(186, 186, 236);
}

input {
    border-radius: 6px;
    padding: 9px;
    font-size: 1rem;
    width: 100%;
    margin-top: 1rem;
}

textarea {
    border-radius: 6px;
    padding: 9px;
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
}

legend {
    text-align: center;
}

span {
    font-size: 0.8rem;
}

.time {
    display: flex;
    align-items: center;
    gap: 6px;
}


@keyframes wiggle {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
}
  
.wiggle {
    display: inline-block;
    animation: wiggle 0.9s ease-in-out infinite;
}

@media (min-width: 1000px) {
    .message-container {
        width: 900px;
        max-width: 900px;
    }
}