<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Msg-Wall - Msg Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Message Details</h1>
    <div class="message-container">
        <div>
            <h2>Name: <%= messages.user %></h2><span>Date: <%= messages.added %></span>
        </div>
        <p><%= messages.text %></p>
    </div>
    <button onclick="location.href='/'">Home</button>
</body>
</html>