<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Msg-Wall - Msg Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Message Details</h1>
    <h2>Name: <%= messages.user %></h2>
    <p>Message:</p>
    <p><%= messages.text %></p>
    <span>Date: <%= messages.added %></span>
    <button><a href="/">Home</a></button>
</body>
</html>