<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Msg-Wall - Error</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/logo.png">
    <script src="https://kit.fontawesome.com/74043cfcaf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Oops.. Something went wrong ☹️</h1>
    </header>
    <main>
        <h2><%= errorCode %> Error: <%= errorMessage %></h2>
        <button onclick="location.href='/'">Return Home</button>
    </main>
    <footer>
        <a href="https://github.com/wade-levels-up/mini-message-board">
            <i class="fa-brands fa-github fa-lg" title="Check out my code on Github"></i>
            <span>Made by Wade</span>
            <i class="fa-brands fa-node-js fa-lg" title="A Node.js | Express.js Project"></i>
        </a>
    </footer>
</body>
</html>