<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Msg-Wall - New Msg</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
        <fieldset>
            <legend>Details</legend>
            <ul>
                <li>
                    <label for="userName">Name:</label>
                    <input type="text" name="userName" id="userName" maxlength="30" placeholder="Enter your name" required>
                </li>
                <li>
                    <label for="messageText">Message:</label>
                    <textarea name="messageText" id="messageText" maxlength="150" rows="5" cols="30" required></textarea>
                </li>
                <li>
                    <button type="submit">Submit</button>
                    <button onclick="location.href='/'">Cancel</button>
                </li>
            </ul>
        </fieldset>
    </form>
</body>
</html>