<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Msg-Wall - New Msg</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/logo.png">
    <script src="https://kit.fontawesome.com/74043cfcaf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>New Message</h1>
        <h2>What's on your mind?</h2>
    </header>
    <main>
        <form method="POST" action="/new">
            <fieldset>
                <legend> ✉️ </legend>
                <ul>
                    <li>
                        <label for="userName" title="name">Name:</label>
                        <input type="text" name="userName" id="userName" maxlength="18" placeholder="Your name (18 characters max)" required>
                    </li>
                    <li>
                        <label for="messageText" title="message">Message:</label>
                        <textarea name="messageText" id="messageText" maxlength="250" rows="5" cols="30" required></textarea>
                    </li>
                    <li class="formButtonArea">
                        <button type="submit">Submit</button>
                        <button onclick="location.href='/'">Cancel</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </main>
    <footer>
        <a href="https://github.com/wade-levels-up/mini-message-board">
            <i class="fa-brands fa-github fa-lg" title="Check out my code on Github"></i>
            <span>Made by Wade</span>
            <i class="fa-brands fa-node-js fa-lg" title="A Node.js | Express.js Project"></i>
        </a>
    </footer>
</body>
</html>